body {
    min-height: 100vh;
    background: #ffffff;
    background: linear-gradient(153deg,rgba(212, 212, 212, 1) 0%, rgba(89, 194, 255, 1) 100%);
    background-size: 200%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    margin: 0;
    animation: bgrotation 10s linear infinite;
}

#login-history .login-entry {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

#edit-name-button {
    transform: scale(0.8);
}

#logout-all-button {
    background-color: red;
    color: white;
}