@import "typography.css";

html {
    font-size: clamp(22px, 1vw, 28px);
}

section {
    padding: 1rem 2rem;
}

toolbar {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
    width: fit-content;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0 0 10px 0;
}

toolbar a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

@media(max-width: 800px) {
    toolbar {
        width: 100%;
        padding: 0.5rem;
    }
}

/* Colors and background */
.tile-background {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid lightgray;
}

/* Buttons */
button {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 200ms ease-in-out;
}

button:hover {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}

/* Animations */
@keyframes bgrotation {
    0% {
        background-position: 0% 20%;
    }

    25% {
        background-position: 100% 40%;
    }

    50% {
        background-position: 80% 100%;
    }

    75% {
        background-position: 20% 60%;
    }

    100% {
        background-position: 0% 20%;
    }
}