body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#database-setup {
    display: flex;
    flex-direction: column;
    gap: 1em;
}